body
{
    background-color: rgb(41, 41, 41);
    padding-top: 5%;
}

.pp{
    width: 320px;
    height: 320px;
    transition: .5s ease;
}

.photo{
    justify-content: center;
    display: flex;
}

.photo:hover .pp{
    opacity: 0.3;
}

#about{
    text-align: center;
    color: aliceblue;
}

.link{
    text-decoration: none;
}

.paragraph{
    text-align: center;
}